<a href="https://colab.research.google.com/github/nikhil96970/police-dataset-analysis-using-numpy-and-pandas/blob/main/police_data_set_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('3. Police Data.csv')

In [ ]:
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55736,1/18/2012,10:05,NaN,M,1952.0,60.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55737,1/18/2012,10:12,NaN,M,1955.0,57.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
55738,1/18/2012,10:24,NaN,M,1983.0,29.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
55739,1/18/2012,10:36,NaN,F,1982.0,30.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
55740,1/18/2012,10:48,NaN,M,1986.0,26.0,White,Other Traffic Vi,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          55741
driver_gender          3550
driver_age_raw         3543
driver_age             3788
driver_race            3549
violation_raw          3549
violation              3550
search_conducted          1
search_type           53572
stop_outcome           3550
is_arrested            3550
stop_duration          3550
drugs_related_stop        1
dtype: int64

In [ ]:
data.drop(columns='country_name',inplace=True)

In [ ]:
data.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
data[data.violation	=='Speeding'].driver_gender.value_counts()

M    22985
F    10306
Name: driver_gender, dtype: int64